/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    width: 100%;
    ul {
        list-style-type: none;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        li {
            flex-grow: 1;
            a {
                display: block;
                color: white;
                text-shadow: 2px 1px black;
                line-height: 2.5em;
                font-size: 1.1em;
            }
            
        }
    }
}

.blue {
    background-color: blue;
    border-bottom: 2px solid blue;
}

.l-blue {
    background-color: rgb(161, 207, 250);
    border-bottom: 2px solid blue;
    &:hover {
        background-color: blue;
    }
}

.red {
    background-color:red;
    border-bottom: 2px solid red;
}

.l-red {
    background-color: rgb(255, 204, 204);
    border-bottom: 2px solid red;
    &:hover {
        background-color: red;
    }
}

.green {
    background-color:green;
    border-bottom: 2px solid green;
}

.l-green {
    background-color: rgb(193, 252, 193);
    border-bottom: 2px solid green;
    &:hover {
        background-color: green;
    }
}

/* MAIN */
main {
    margin-top: 55px;
}

h1 {
    margin-left: 50px;
    color: grey;
}

/* FORMULARIO */
form {
    width: 100%;
    min-width: 400px;
    margin: 10px auto;
    background: #313131;
    color: white;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
        display: flex;
        align-items: end;
        padding: 15px 0;
        margin-bottom: 25px;;
        fieldset {
            width: 65%;
            label {
                font-size: 1.3em;
            }
            input {
                margin-top: 5px;
                width: 100%;
                padding: 2px;
                font-size: 1.4em;
                border-radius: 5px;
            }
        }
        button {
            background-color: #ee6b2f;
            width: 40px;
            height: 40px;
            margin-left: 10px;
            border-radius: 8px;
            color: white;
            font-size: 1.2em;
        }
        p {
            background: #4dad5b;
            height: 100%;
            padding: 5px 15px;
            border-radius: 5px;
            font-size: 1.3em;
        }
    }
    
}

/* LISTA */
.list-container {
    width: 95%;
    min-width: 400px;
    max-width: 1000px;
    margin: 25px auto 0 auto;
    padding: 10px;
}

#list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .card {
        margin: 0 auto;
        max-width: 200px;
        img {
            max-width: 100%;
            padding: 7px;
            background-color: #dddedf;
            border-radius: 5px;
            &:hover {
                margin-top: -10px;
                cursor: pointer;
            }
        }
    }
    p {
        color: rgb(139, 139, 139);
        font-weight: 500;
        font-size: .9em;
    }
    h3 {
        margin: 4px 0 6px 0;
        font-size: 1.5em;
    }
    .types {
        display: flex;
        justify-content: flex-start;
        gap: 3px;
    }
    span {
        width: 85px;
        padding: 2px 0;
        text-align: center;
        border-radius: 5px;
    }
}

/* BG DE LOS TIPOS */
.grass {
    background-color: #9bcc50;
}

.poison {
    background-color: #b97fc9;
    color: white;
}

.bug {
    background-color: #729f3f;
    color: white;
}

.normal {
    background-color: #a4acaf;
    color: white;
}

.flying {
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.ground {
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.water {
    background-color: #4592c4;
    color: white;
}

.electric {
    background-color: #eed535;
}

.steel {
    background-color: #9eb7b8;
}

.ice {
    background-color: #51c4e7;
}

.psychic {
    background-color: #f366b9;
    color: white;
}

.fighting {
    background-color: #d56723;
    color: white;
}

.rock {
    background-color: #a38c21;
    color: white;
}

.fairy {
    background-color: #fdb9e9;
}

.fire {
    background-color: #fd7d24;
    color: white;
}

.dragon {
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.dark {
    background-color: #707070;
    color: white;
}

.ghost {
    background-color: #7b62a3;
    color: white;
}

.vm-btns {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    .show-more {
        display: none;
        background-color: #4dad5b;
        color: white;
        width: 200px;
        height: 50px;
        font-size: 1.3em;
        margin: 0 auto;
        border: 2px solid green;
        border-radius: 5px;
        &:hover {
            cursor: pointer;
        }
    }
}

/* MEDIA */
@media screen and (max-width: 920px) {
    #list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 728px) {
    form {
        display: flex;
        flex-direction: column;
    }
    #list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px) {
    #list {
        grid-template-columns: 1fr;
    }
}
